<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmoca.mapper.CmtMapper">
	  
    <!-- 댓글 조회 -->
    <select id="commentList" resultType="com.hmoca.entity.Comment"> 
	    select * from comment_info 
	</select>
	
    <!-- 댓글 작성 -->
	<insert id ="insertComment" parameterType="com.hmoca.entity.Comment">
		insert into comment_info (cmt_content, user_id, post_idx) 
		values (#{cmt_content}, #{user_id}, #{post_idx})
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="updateComment" parameterType="com.hmoca.entity.Comment">
	    update comment_info set cmt_content=#{cmt_content} 
	    where cmt_idx=#{cmt_idx} and post_idx=#{post_idx}
	</update>

	<!-- 댓글 삭제 -->	
  	<delete id="DeleteComment" parameterType="int">
    	delete from comment_info 
    	where cmt_idx=#{cmt_idx}
	</delete>
	
  	<!-- 랭크 -->
	<select id="rankList" resultType="com.hmoca.entity.Rank">
		select video_name, video_thumb, url_name, count(url_name) as url_count 
		from dist_info 
		group by video_name, video_thumb, url_name
		order by url_count desc
		LIMIT 10;
	</select>  	
	
	<!-- 게시물 랭크 조회수로! -->
	<select id="postrankList" resultType="com.hmoca.entity.Post">
		select post_title, user_id, count(post_views) as post_count 
		from post_info 
		group by post_title, user_id
		order by post_count desc
		LIMIT 10;
	</select>  	

</mapper>