<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmoca.mapper.UserMapper">
	<select id="UserList" resultType="com.hmoca.entity.User">
	    select * from user_info order by user_id desc
	</select>
	
	<insert id="UserInsert" parameterType="com.hmoca.entity.User">
	    insert into user_info (user_id, user_pw, user_name, user_nick, user_email, user_phone)
		values(#{user_id},#{user_pw},#{user_name},#{user_nick},#{user_email},#{user_phone})
	</insert>

	<select id="UserLogin" parameterType="com.hmoca.entity.User" resultType="com.hmoca.entity.User">
       select * from user_info where user_id=#{user_id} and user_pw=#{user_pw}
   </select>
   
	<update id="UserUpdate" parameterType="com.hmoca.entity.User">
		update user_info set user_pw=#{user_pw}, user_nick=#{user_nick} where user_id=#{user_id};    
	</update>
	
	<select id ="UserSelect" parameterType="int" resultType="com.hmoca.entity.User">
		select * from user_info
	</select> 
	<select id="UserExists" resultType="boolean" parameterType="string">
	    select 1 from user_info where user_id = #{user_id}
	</select>
	
		<select id="UserNoExists" resultType="boolean" parameterType="string">
	    select user_id from user_info where user_id = #{user_id}
	</select>
</mapper>